<%= turbo_stream.replace "favorite_icon_#{@pet.id}" do %>
  <div id="favorite_icon_<%= @pet.id %>">
    <%= button_to user_pet_favorites_path(current_user, @pet), method: :post, data: { turbo: true }, class:"favorite-button" do %>
      <i class="fa-regular fa-heart"></i>
    <% end %>
  </div>
<% end %>

<%= turbo_stream.append "pet-show" do %>
  <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
    <%= flash.now[:notice] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
