<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: user_pets_path, method: :get, class: "d-flex flex-column", data: { action: "keyup->search#search input->search#search" } do %>
      <div class="mb-3">
        <%= check_box_tag :use_my_location, "1", false,
              class: "form-check-input",
              data: { action: "change->search#toggleLocationFields", search_target: "checkbox" } %>
        <%= label_tag :use_my_location, "Use my location", class: "form-check-label" %>
      </div>

      <div id="location-fields" data-search-target="locationFields" style="display: none;">
        <div class="mb-3">
          <%= text_field_tag :location,
                current_user.location,
                class: "form-control",
                placeholder: "Enter a location",
                data: { search_target: "location" } %>
        </div>
        <div class="mb-3">
          <%= number_field_tag :radius,
                50,
                class: "form-control",
                placeholder: "Radius in km",
                min: 1,
                data: { search_target: "radius" } %>
        </div>
      </div>

      <div class="mb-3">
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search for pets",
              data: { search_target: "input" } %>
      </div>
      <%= submit_tag "Search", name: "", class: "btn btn-primary", style: "display: none;" %>
    <% end %>
  </div>
</div>
