<div id="pets-index">
  <div class="header-top-pet-index">
    <h1>All pets</h1>
  </div>

  <div data-controller="search">
    <div class="input-form">
      <%= render "index_search" %>
    </div>

    <div id="pets_list" class="row mt-2 d-flex" data-search-target="results">
      <% @pets.each_with_index do |pet, index| %>
        <div class="col-lg-3 col-md-4  other-pets-card-container">
          <div class="pet-image-modal">
            <div class="animal-images">
                <% if pet.photos.attached? %>
                <div id="carouselExampleControls_<%= index %>" class="carousel slide">
                  <div class="carousel-inner">
                    <% pet.photos.each_with_index do |photo, idx| %>
                      <div class="carousel-item <%= 'active' if idx == 0 %>">
                        <% if photo.present? %>
                          <%= cl_image_tag photo.key, class: "square-image" %>
                        <% else %>
                          <%= image_tag('dog.jpg', class: "square-image") %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls_<%= index %>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls_<%= index %>" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <% else %>
                  <!-- Placeholder carousel images -->
                  <div id="carouselExampleControls_<%= index %>" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <%= image_tag("logo_paw_print.png", class: "square-image") %>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls_<%= index %>" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls_<%= index %>" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                <% end %>
              <div class="animal-info">
                <div class="pet-name-modal-card">
                  <div class="pet-name">
                    <p><strong><%= pet.name %></strong></p>
                  </div>
                  <!-- Bookmark icon -->
                  <span id="favorite_icon_<%= pet.id %>" class="ms-2">
                    <% if current_user.favorited?(pet) %>
                      <% favorite = current_user.favorites.find_by(favoritable: pet) %>
                      <%= button_to user_pet_favorite_path(current_user, pet, favorite), method: :delete, class: "favorite-button" do %>
                        <i class="fa-solid fa-heart"></i>
                      <% end %>
                    <% else %>
                      <%= button_to user_pet_favorites_path(current_user, pet), method: :post, class: "favorite-button" do %>
                        <i class="fa-regular fa-heart"></i>
                      <% end %>
                    <% end %>
                  </span>
                  <!-- End of bookmark icon -->
                </div>
                <div class="pet-description-modal-card">
                  <p><%= pet.description %></p>
                </div>
                  <div class="pet-card-modal-button d-flex justify-content-center">
                    <%= link_to "See pet", user_pet_path(pet.provider, pet), class: "btn btn-primary", data: { turbo: false } %>
                    <%#= link_to 'Remove Pet', remove_pet_path(user_id: @user.id, id: pet.id), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to remove this pet?' } %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
