<div class="chats-container p2" data-controller="chatroom-subscription"  data-user-id="<%= current_user.id %>" >
  <div class="row">
    <div class="col-4 aside-header">
       <h2>Chats <i class="fa-regular fa-comment"></i></h2>
    </div>
    <div class="col-8">
      <header class="chat-header" data-chatroom-subscription-target="provider">
      <%# // Filled by JS %>
    </header>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
       <aside class="sidebar">
    <ul class="sidebar-list">
      <% current_user.chatrooms.each do |chatroom| %>
      <li
      class="sidebar-item <%= 'active' if chatroom.id == params[:chatroom_id] %>"
      data-action="click->chatroom-subscription#selectChatroom"
      data-chatroom-id="<%= chatroom.id %>"
      >
            <%= cl_image_tag chatroom.pet.photos[0].key, width: 50, height: 50, crop: :thumb, gravity: :face, class: "", alt: "dropdown menu", class: "chatroom-avatar" %>
          <div class="sidebar-info" >
            <p class="sidebar-name"> <%= chatroom.pet.name %> </p>
            <div class="sidebar-preview text-secondary"><%= truncate(chatroom.messages.last.content, length: 25) || "" %></div>
          </div>
            <span class="sidebar-time"><%= chatroom.messages.last.updated_at.strftime("%d.%m") %></span>
      </li>
    <% end %>
    </ul>
  </aside>
    </div>
    <div class="col-8">
       <div class="chat-main" >

    <div class="chat-body">
      <div class="chat-messages" data-chatroom-subscription-target="messages">
        <%# // Filled by JS %>
        <div>
          <p>No messages yet!</p>
        </div>
      </div>

      <div class="input-container">
        <div class="chat-input">
          <input type="text" placeholder="Type here..." data-chatroom-subscription-target="input">
          <button type="submit" data-action="click->chatroom-subscription#sendMessage">
          <div class="icon-send"><i class="fa-regular fa-paper-plane"></i></div>
          </button>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
