<div class="chats-container p2" data-controller="chatroom-subscription"  data-user-id="<%= current_user.id %>" >
  <aside class="chat-sidebar">
    <h2>Chats <i class="fas fa-comments"></i></h2>
    <ul class="chat-list">
      <% current_user.chatrooms.each do |chatroom| %>

      <li class="chat-item <%= 'active' if chatroom.id == params[:chatroom_id] %>" data-action="click->chatroom-subscription#selectChatroom" data-chatroom-id="<%= chatroom.id %>">
        <%# <img src="avatar2.jpg" alt="John D."> %>
        <%# <% if current_user.photo.attached? %>
          <%# <%= cl_image_tag current_user.photo.key, width: 50, height: 50, crop: :thumb, gravity: :face, class: "", alt: "dropdown menu"%>
        <%# <% else %>
        <div class="chat-avatar">
            <%= cl_image_tag chatroom.pet.photos[0].key, width: 50, height: 50, crop: :thumb, gravity: :face, class: "", alt: "dropdown menu" %>
          </div>
        <div>
          <p class="chat-name"> <%= other_user_name_from_chatroom(chatroom.users.map()) %> </p>
          <div class="chat-preview text-secondary"><%= truncate(chatroom.messages.last.content, length: 30) || "" %></div>
        </div>
        <span class="chat-time">20:13</span>
      </li>
    <% end %>
    </ul>
  </aside>

  <div class="chat-main" >
    <header class="chat-header" data-chatroom-subscription-target="provider">
      <%# // Filled by JS %>
    </header>

    <div class="chat-messages" data-chatroom-subscription-target="messages">
      <%# // Filled by JS %>
    </div>

    <div class="chat-input">
      <input type="text" placeholder="Type here..." data-chatroom-subscription-target="input">
      <button type="submit" data-action="click->chatroom-subscription#sendMessage">
      <i class="fa-light fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>
