<div id="review-form" class="user-animals reviews" data-controller="review">
  <%# if on providers page as current user adopter %>
  <%# reviews only shows if messages exist between adopter and provider - there has to be messages from both %>
  <% if current_user.role == 'adopter' %>

    <% @chatrooms_to_review.each do |chatroom| %>
      <% next if chatroom.review.present? %>

      <%= simple_form_for([@provider, chatroom, Review.new], data: { turbo: true, turbo_frame: "user-reviews" }) do |f| %>

        <h4 class="mt-5 mb-3"><strong>Leave a review about your
        <%= link_to "chat", user_chatrooms_path(@adopter) %>
        with <%= chatroom.pet.provider.first_name %></strong>

        <%= link_to user_pet_path(chatroom.pet.provider, chatroom.pet) do %>
          (<%= chatroom.pet.name %>)
          <% if chatroom.pet.photos.attached? %>
            <%= cl_image_tag chatroom.pet.photos.first.key, crop: :thumb, gravity: :face, class: "avatar-reviews ms-2", alt: "Pet photo" %>
          <% else %>
            <%= image_tag "logo_paw_print.png", class: "avatar-reviews ms-2", alt: "Default pet image" %>
          <% end %>
        <% end %>

        </h4>

        <div class="row align-items-center">
          <div class="col-lg-6">
            <%= f.input :provider_review_content, label: false, :input_html => {:rows => 2, class: "form-control small-input form-input-review mb-0"} %>
          </div>
          <div id="new-stars" class="col-lg-3 justify-content-center text-center">
            <%= f.input :provider_rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}}, class: "d-inline justify-content-center" %>
            </div>
            <div class="col-lg-2 d-flex justify-content-center">
              <%= f.submit "Leave a Review", class: "btn btn-secondary my-3" %>
            </div>
        </div>

      <% end %>

    <% end %>

  <% end %>

</div>
