<div class="container-user-profile">

<% if @user.provider? %>
  <h1 id="user-greeting">Hello, <%= @user.first_name %>! </h1>
  <% if current_user.role == "provider" %>
    <%= link_to "Edit profile", edit_user_registration_path, id: "button-edit" %>
  <% end %>
  <div class="user-card">
    <div>
      <%= cl_image_tag @user.photo.key, height: 300, width: 300, crop: :fill, gravity: :face, id: "image-profile-user" %>
    </div>
    <div class="user-input">
      <h3><strong><%= @user.first_name %> <%= @user.last_name %> (<%= @user.age %>), <%= @user.location %></strong></h3>
      <h3 id="user-role"><%= @user.role.capitalize %></h3>
      <h4><%= @user.email %></h4>
      <h3><strong>About me:</strong></h3>
      <h4><%= @user.about_me %></h4>
    </div>
  </div>

  <div class="user-pets-location">

    <div class="user-map">
      <h3 id="location-shelter"><strong>We are located here</strong></h3>
      <div class="map-user-show"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>">
      </div>
    </div>

    <div class="user-animals">
      <h3 id="your-animals"><strong>Your animals (<%= @user.pets.count %>)</strong></h3>
      <div class="row mt-5">
        <% @user.pets.each_with_index do |pet, index| %>
          <div class="col-md-4">
            <div class="pet-image-main">
              <div class="animal-images">
              <% if pet.photos.attached? %>
                <div id="carouselExampleControls_<%= index %>" class="carousel slide">
                  <div class="carousel-inner">
                    <% pet.photos.each_with_index do |photo, idx| %>
                      <div class="carousel-item <%= 'active' if idx == 0 %>">
                        <% if photo.present? %>
                          <%= image_tag(photo, id: "image-profile-pet") %>
                        <% else %>
                          <%= image_tag('dog.jpg', id: "image-profile-pet") %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls_<%= index %>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls_<%= index %>" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              <% else %>
                <!-- Placeholder carousel images -->
                <div id="carouselExampleControls_<%= index %>" class="carousel slide">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <%= image_tag("dog.jpg", id: "image-profile-pet") %>
                    </div>
                    <div class="carousel-item">
                      <%= image_tag("cat.jpg", id: "image-profile-pet") %>
                    </div>
                    <div class="carousel-item">
                      <%= image_tag("rabbit.jpg", id: "image-profile-pet") %>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls_<%= index %>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls_<%= index %>" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              <% end %>
              </div>
              <div class="pet-info-button">
                <div class="animal-info">
                  <p><strong>Name:</strong> <%= pet.name %></p>
                  <p><strong>Species:</strong> <%= pet.species %></p>
                  <p><strong>Breed:</strong> <%= pet.breed %></p>
                </div>

                <!-- Add the Remove Pet button -->
                <div class= "user-button">
                  <%#= link_to 'See pet', user_pet_path(user_id: @user.id, id: pet.id), class: "btn btn-primary btn-view" %>
                  <%= link_to "See #{pet.name.presence}" || 'View pet', user_pet_path(user_id: @user.id, id: pet.id), class: "btn btn-primary btn-view" %>
                  <% if current_user.role == 'provider' %>
                    <%= link_to 'Remove Pet', remove_pet_path(user_id: @user.id, id: pet.id), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to remove this pet?' } %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% if current_user.role == 'provider' %>
    <div class="button-add-pet">
      <%= link_to "Add a pet", new_user_pet_path(current_user), class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>

<%# if @user.adopter? %>
<% else %>
  <h1 id="user-greeting">Hello, <%= @user.first_name %>! </h1>
  <% if current_user.role == "adopter" %>
    <%= link_to "Edit profile", edit_user_registration_path, id: "button-edit" %>
  <% end %>
  <div class="user-card">
    <div>
      <%= cl_image_tag @user.photo.key, height: 300, width: 300, crop: :fill, gravity: :face, id: "image-profile-user" %>
    </div>
    <div class="user-input">
      <h3><strong><%= @user.first_name %> <%= @user.last_name %> (<%= @user.age %>), <%= @user.location %></strong></h3>
      <h3 id="user-role"><%= @user.role.capitalize %></h3>
      <h4><%= @user.email %></h4>
      <h3><strong>About me:</strong></h3>
      <h4><%= @user.about_me %></h4>
    </div>
  </div>

  <div class="user-animals">
    <h3 id="your-favourites"><strong>Your favourites</strong></h3>
  </div>

  <div class= "user-button">
    <%#= link_to 'View Pet', user_pet_path(user_id: @user.id, id: pet.id), class: "btn btn-primary" %>
    <%#= link_to 'Remove Pet', remove_pet_path(user_id: @user.id, id: pet.id), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to remove this pet?' } %>
  </div>
<% end %>

</div>
