<% if @user.provider? %>
  <h1 id="user-greeting">Hello <%= @user.first_name %></h1>
  <div class="user-card">
    <div class="user-info">
      <h2><strong>Name:</strong></h2>
      <h2><strong>Email:</strong></h2>
      <h2><strong>Address:</strong></h2>
      <h2><strong>About me:</strong></h2>
    </div>
    <div class="user-input">
      <h2><%= @user.first_name %> <%= @user.last_name %></h1>
      <h2><%= @user.email %></h2>
      <h2><%= @user.location %></h2>
      <h2><%= @user.about_me %></h2>
    </div>
    <div>
      <%= image_tag "https://plus.unsplash.com/premium_photo-1663133505223-238b6bd6fbcb?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YW5pbWFsJTIwc2hlbHRlcnxlbnwwfHwwfHx8MA%3D%3D", id: "image-profile-user" %>
    </div>
  </div>

  <div class="user-pets-location">

    <div class="user-animals">
      <div>
        <h3 id="your-animals"><strong>Your animals (<%= @user.pets.count %>)</strong></h3>
        <% @user.pets.each do |pet| %>
          <div>
          <%= image_tag "https://images.unsplash.com/photo-1543466835-00a7907e9de1?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", id: "image-profile-pet" %>
          </div>
          <p><%= pet.name %>, <%= pet.species %>, <%= pet.breed %></p>
        <% end %>
      </div>
      <div class="user-buttons">
        <div class="button"><%= link_to "Add a pet", new_user_pet_path(current_user), class: "btn btn-primary" %></div>
        <div class="button"><%= link_to "Remove a pet", root_path, class: "btn btn-primary" %></div>
      </div>
    </div>

    <div class="user-map">
      <h3 id="location-shelter"><strong>We are located here</strong></h3>
      <div class="map-user-show"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>">
      </div>
    </div>
  </div>

<% #This is just a comment to push %>






















  <div>
    <h1>This is for testing</h1>
    <% @user.pets.each do |pet| %>
      <h3><%= pet.name %> <%= pet.species %> <%= pet.breed %></h3>
      <p><%= pet.description %></p>
    <% end %>
  </div>





<%# if @user.adopter? %>

<% else %>
  <h2>Hi! I'm an adopter</h2>
<% end %>
