<div id="output"> # This is the id that Turbo Stream will target
  <div style="border: 1px solid #325869; padding: 10px;">
    <h2>INPUT</h2>
    <% if @prompt&.input.present? %>
      <p>This was the input: <%= @prompt.input %></p>
    <% else %>
      <p>This is where the input will be shown</p>
    <% end %>
  </div>

  <div style="border: 1px solid #325869; padding: 10px;">
    <h2>DATABASE SENT</h2>
    <% if @prompt&.input.present? %>
      <p>This was the database sent: <%= @prompt.pets_for_prompt %></p>
    <% else %>
      <p>This is where the input will be shown</p>
    <% end %>
  </div>

  <div style="border: 1px solid #ccc; padding: 10px;">
    <h2>OUTPUT FROM OPENAI</h2>
    <% if @output.present? %>
      <p>This was the output from OpenAI: <%= @output %></p>
    <% else %>
      <p>This is where the output will be shown</p>
    <% end %>
  </div>

  <div style="border: 1px solid #ccc; padding: 10px;">
    <h2>BEST MATCH</h2>
    <% if @output.present? && @prompt&.pets_for_prompt.present? %>
      <% JSON.parse(@prompt.pets_for_prompt).each do |pet| %>
        <% if pet["id"].to_s == @output.to_s %>
          <p>This was the best match:</p>
          <p><%= pet["name"] %></p>
          <p><%= pet["species"] %></p>
          <p><%= pet["breed"] %></p>
          <p><%= pet["description"] %></p>
          <%= link_to "Learn more about this pet", pet_path(pet["id"]) %>
        <% end %>
      <% end %>
    <% else %>
      <p>This is where the best match will be shown</p>
    <% end %>
  </div>
</div>
