<turbo-frame id="output-three" data-controller="output" data-output-prompt-id="<%= @prompt&.id %>" data-output-has-output="<%= @prompt&.output.present? %>" loading="lazy">
  <div data-output-target="outputThree" class="modal fade d-none" tabindex="-1" role="dialog" aria-labelledby="outputThreeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center align-items-center position-relative">
          <h2 class="modal-title" id="outputThreeLabel">Here are your top matches!</h2>
          <!-- Custom close button -->
          <button type="button" class="position-absolute" style="top: 12px; right: 20px; background: none; border: none;" data-action="output#hideOutput" aria-label="Close">
            <h1><i class="fa-solid fa-xmark"></i></h1>
          </button>
        </div>
        <div class="modal-body">
          <div class="row d-flex justify-content-center">
            <% if best_matches.present? %>
              <% if best_matches.count == 0 %>
                <p>Sorry, no matches found.</p>
              <% else %>
                <% best_matches.each do |pet| %>
                  <div class="col-md-4">
                    <div class="pet-image-main">
                      <div class="animal-images">
                        <div class="image-container">
                          <%= button_to bookmarks_path(pet_id: pet.id), method: :post, remote: true, class: "bookmark-btn" do %>
                            <i class="fa-regular fa-heart"></i>
                          <% end %>
                          <% if pet.photos.attached? %>
                            <%= link_to user_pet_path(pet.provider, pet), data: { turbo: false } do %>
                              <%= cl_image_tag pet.photos.first.key, class: "square-image", style: "border-radius: 15px" %>
                            <% end %>
                          <% else %>
                            <%= link_to user_pet_path(pet.provider, pet) do %>
                              <%= image_tag "dog.jpg", id: "image-profile-pet" %>
                            <% end %>
                          <% end %>
                        </div>
                        <div class="animal-info">
                          <p><strong><%= pet.name %></strong> - <%= pet.breed %> <%= pet.species %> </p>
                          <p><%= pet.description %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <div class="text-center my-5">
                  <%= link_to "Other matches", other_matches_path(prompt_id: @prompt.id), class: "btn btn-secondary", data: { turbo: false } %>
                </div>
              <% end %>
            <% else %>
              <p>This is where your matches will show up</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
