<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Search for a pet!", get_search_path %>
=======
<p><%= link_to "Search for a pet!", search_path %></p>

<p><%= link_to "Find a match!", search_path %></p>

<p>For testing</p>
<% if user_signed_in?  %>
  <p><%= current_user.role %></p>
<% end %>

<%= link_to "test path", test_path %>

