<div class="header-top">
  <h1>Here are some other matches for you.</h1>
</div>

<h1>
  <%= link_to search_path(prompt_id: @prompt.id), data: { turbo: false } do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</h1>


  <div class="row mt-2 d-flex">
    <% if @best_matches.present? %>
      <% @best_matches.each do |pet| %>
        <div class="col-md-3">
          <div class="pet-image-main">
            <div class="animal-images">
              <% if pet.photos.attached? %>
                <%= link_to user_pet_path(pet.provider, pet) do %>
                  <%= cl_image_tag pet.photos.first.key, class: "square-image", style: "border-radius: 15px" %>
                <% end %>
              <% else %>
                <%= link_to user_pet_path(pet.provider, pet) do %>
                  <%= image_tag "dog.jpg", id: "image-profile-pet" %>
                <% end %>
              <% end %>
              <div class="animal-info">
                <p><strong><%= pet.name %></strong> - <%= pet.breed %> <%= pet.species %> </p>
                <p><%= pet.description %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>This is where your matches will show up</p>
    <% end %>
  </div>
